.banner-content{
    background-color: yellow;
    width: 100%;
    height:100vh;
    padding: 120px;
}
.img-content{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
.img-content img{
    object-fit: cover;
}
.content h1{
    font-size: 3rem;
}
.content .service-content{
    margin: 25px 0;
}
@media only screen and (max-width:768px){
    .banner-content{
        height:auto;
    }
    .banner-content{
        padding: 80px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content h1{
        font-size: 2rem;
    }
    
}
.cards img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    background-color: yellow;
    margin: 5px auto;
}